AgentC/N1.1.json
{
  "name": "SBQC - N1.1 System Health Check (5 min)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.33:3003/integrations/events/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow_id\": \"SBQC-N1.1-health-check\", \"event_type\": \"health_heartbeat\", \"data\": $json } }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "65291625-e5ac-4833-81c2-23c3122b9784",
      "name": "Log Heartbeat to DataAPI Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        384
      ],
      "id": "ffe44201-464b-432a-9d29-99616c15aaa9",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        304
      ],
      "id": "01a1d7ef-7133-495c-999c-d37aeef49828",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        160
      ],
      "id": "764b534f-5483-4dd8-b6e4-30aea92145c2",
      "name": "Merge"
    },
    {
      "parameters": {},
      "id": "a3270fa4-ea2a-4349-906b-c30185016577",
      "name": "Healthy (No-op)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.33:3003/integrations/events/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow_id\": \"SBQC-N1.1-health-check\", \"event_type\": \"health_alert\", \"data\": $json } }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "8d686013-12ab-4035-ae70-b0b17abcaf46",
      "name": "Log to DataAPI Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.alert}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "f02f16ca-3a6f-4752-a811-36137f241fad",
      "name": "IF Degraded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1136,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "function isHttpOk(obj) {\n  if (!obj || typeof obj !== 'object') return false;\n  // n8n HTTP Request node (continueOnFail) often returns { error: {...} }\n  if (obj.error) return false;\n  return true;\n}\n\nfunction safeGet(nodeName) {\n  try {\n    const items = $items(nodeName);\n    return items && items[0] ? items[0].json : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst dataapi = safeGet('DataAPI Health');\nconst agentx = safeGet('AgentX Health');\nconst ollama99 = safeGet('Ollama 99 Tags');\nconst ollama12 = safeGet('Ollama 12 Tags');\n\nconst dataapiOk = isHttpOk(dataapi) && (dataapi.status === 'ok' || dataapi.status === 'success' || dataapi.ok === true);\nconst agentxOk = isHttpOk(agentx) && (agentx.status === 'ok' || agentx.status === 'success' || agentx.ok === true);\nconst ollama99Ok = isHttpOk(ollama99) && (Array.isArray(ollama99.models) || typeof ollama99.models === 'object');\nconst ollama12Ok = isHttpOk(ollama12) && (Array.isArray(ollama12.models) || typeof ollama12.models === 'object');\n\nconst results = {\n  timestamp: new Date().toISOString(),\n  overall: (dataapiOk && agentxOk && ollama99Ok && ollama12Ok) ? 'healthy' : 'degraded',\n  alert: !(dataapiOk && agentxOk && ollama99Ok && ollama12Ok),\n  components: {\n    dataapi: {\n      status: dataapiOk ? 'ok' : 'error',\n      detail: dataapiOk ? dataapi : (dataapi && dataapi.error ? dataapi.error : dataapi)\n    },\n    agentx: {\n      status: agentxOk ? 'ok' : 'error',\n      detail: agentxOk ? agentx : (agentx && agentx.error ? agentx.error : agentx)\n    },\n    ollama_99: {\n      status: ollama99Ok ? 'ok' : 'error',\n      modelsCount: ollama99Ok && Array.isArray(ollama99.models) ? ollama99.models.length : undefined,\n      detail: ollama99Ok ? { models: ollama99.models } : (ollama99 && ollama99.error ? ollama99.error : ollama99)\n    },\n    ollama_12: {\n      status: ollama12Ok ? 'ok' : 'error',\n      modelsCount: ollama12Ok && Array.isArray(ollama12.models) ? ollama12.models.length : undefined,\n      detail: ollama12Ok ? { models: ollama12.models } : (ollama12 && ollama12.error ? ollama12.error : ollama12)\n    }\n  }\n};\n\nreturn [{ json: results }];"
      },
      "id": "1606b998-6602-4892-901e-c3477d67dd1d",
      "name": "Aggregate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        384
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.2.12:11434/api/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "d9389a51-3f42-45b5-9b9c-14e742f0df2a",
      "name": "Ollama 12 Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.2.99:11434/api/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "d1f8ca8b-2a69-4b76-bfad-206ce41daa32",
      "name": "Ollama 99 Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.2.33:3080/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "c36f4781-5577-48f7-98c5-bd31065870e7",
      "name": "AgentX Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.2.33:3003/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6ad4c401-9074-4de3-9f1d-b7add54c5d46",
      "name": "DataAPI Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "8d378f4a-7197-4b64-a6b8-42de4e5169c1",
      "name": "Schedule (Every 5 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sbqc-n1-1-health-check",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4c17d99a-9a9f-4f57-81e3-7abb480b2735",
      "name": "Webhook (Manual)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        368
      ],
      "webhookId": "sbqc-n1-1-health-check"
    },
    {
      "parameters": {},
      "id": "ff829019-8d34-447e-82fe-c152208d0c49",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        16,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Degraded": {
      "main": [
        [
          {
            "node": "Log to DataAPI Sink",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Healthy (No-op)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Status": {
      "main": [
        [
          {
            "node": "Log Heartbeat to DataAPI Sink",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Degraded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama 12 Tags": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ollama 99 Tags": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AgentX Health": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DataAPI Health": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (Every 5 min)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Manual)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "DataAPI Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "AgentX Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama 99 Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama 12 Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42652ee4-1e6c-4062-9e45-60087b295eeb",
  "meta": {
    "instanceId": "ca580fc430adef1acb1ce2edcaa87003dbe27624cb6bdeb1646bc119793c0b29"
  },
  "id": "U0HDB8HLfxx2a7eQ",
  "tags": []
}
