AgentC/N1.1.json
{
  "name": "SBQC - N1.1 System Health Check (5 min)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3080/api/metrics/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"component\": \"system-health-check\",\n  \"value\": $json.overall === 'healthy' ? 1 : 0,\n  \"metadata\": {\n    \"workflow\": \"SBQC-N1.1\",\n    \"detail\": $json\n  },\n  \"tags\": [\"heartbeat\", \"aggregate\"]\n} }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "65291625-e5ac-4833-81c2-23c3122b9784",
      "name": "Log Heartbeat to DataAPI Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        384
      ],
      "id": "ffe44201-464b-432a-9d29-99616c15aaa9",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        304
      ],
      "id": "01a1d7ef-7133-495c-999c-d37aeef49828",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        160
      ],
      "id": "764b534f-5483-4dd8-b6e4-30aea92145c2",
      "name": "Merge"
    },
    {
      "parameters": {},
      "id": "a3270fa4-ea2a-4349-906b-c30185016577",
      "name": "Healthy (No-op)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3080/api/alerts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const overall = $json?.overall || 'degraded';\n  const failing = Object.entries($json?.components || {})\n    .filter(([_, v]) => (v?.status || 'unknown') !== 'ok')\n    .map(([k]) => k);\n\n  const severity = overall === 'unhealthy' ? 'critical' : 'warning';\n  const channels = severity === 'critical' ? ['slack','email'] : ['slack'];\n\n  return {\n    eventType: 'system_health_not_healthy',\n    ruleId: 'sbqc.n1_1.health.not_healthy',\n    ruleName: 'SBQC N1.1 System Health Not Healthy',\n    severity,\n    title: `System Health: ${overall.toUpperCase()}`,\n    message: failing.length\n      ? `Health is ${overall}. Failing components: ${failing.join(', ')}`\n      : `Health is ${overall}.`,\n    source: 'n8n',\n    channels,\n    context: {\n      component: 'system',\n      metric: 'overall_health',\n      currentValue: overall,\n      workflow: 'SBQC-N1.1',\n      overall,\n      failingComponents: failing,\n      detail: $json\n    },\n    metadata: {\n      eventType: 'system_health_not_healthy',\n      workflow: 'SBQC-N1.1'\n    }\n  };\n})() }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "8d686013-12ab-4035-ae70-b0b17abcaf46",
      "name": "Log to DataAPI Sink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.alert}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "f02f16ca-3a6f-4752-a811-36137f241fad",
      "name": "IF Degraded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1136,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "function isHttpOk(obj) {\n  if (!obj || typeof obj !== 'object') return false;\n  // n8n HTTP Request node (continueOnFail) often returns { error: {...} }\n  if (obj.error) return false;\n  return true;\n}\n\nfunction safeGet(nodeName) {\n  try {\n    const items = $items(nodeName);\n    return items && items[0] ? items[0].json : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nconst dataapi = safeGet('DataAPI Health');\nconst agentx = safeGet('AgentX Health');\nconst ollama99 = safeGet('Ollama 99 Tags');\nconst ollama12 = safeGet('Ollama 12 Tags');\n\nconst dataapiOk = isHttpOk(dataapi) && (dataapi.status === 'ok' || dataapi.status === 'success' || dataapi.ok === true);\nconst agentxOk = isHttpOk(agentx) && (agentx.status === 'ok' || agentx.status === 'success' || agentx.ok === true);\nconst ollama99Ok = isHttpOk(ollama99) && (Array.isArray(ollama99.models) || typeof ollama99.models === 'object');\nconst ollama12Ok = isHttpOk(ollama12) && (Array.isArray(ollama12.models) || typeof ollama12.models === 'object');\n\nconst results = {\n  timestamp: new Date().toISOString(),\n  overall: (dataapiOk && agentxOk && ollama99Ok && ollama12Ok) ? 'healthy' : 'degraded',\n  alert: !(dataapiOk && agentxOk && ollama99Ok && ollama12Ok),\n  components: {\n    dataapi: {\n      status: dataapiOk ? 'ok' : 'error',\n      detail: dataapiOk ? dataapi : (dataapi && dataapi.error ? dataapi.error : dataapi)\n    },\n    agentx: {\n      status: agentxOk ? 'ok' : 'error',\n      detail: agentxOk ? agentx : (agentx && agentx.error ? agentx.error : agentx)\n    },\n    ollama_99: {\n      status: ollama99Ok ? 'ok' : 'error',\n      modelsCount: ollama99Ok && Array.isArray(ollama99.models) ? ollama99.models.length : undefined,\n      detail: ollama99Ok ? { models: ollama99.models } : (ollama99 && ollama99.error ? ollama99.error : ollama99)\n    },\n    ollama_12: {\n      status: ollama12Ok ? 'ok' : 'error',\n      modelsCount: ollama12Ok && Array.isArray(ollama12.models) ? ollama12.models.length : undefined,\n      detail: ollama12Ok ? { models: ollama12.models } : (ollama12 && ollama12.error ? ollama12.error : ollama12)\n    }\n  }\n};\n\nreturn [{ json: results }];"
      },
      "id": "1606b998-6602-4892-901e-c3477d67dd1d",
      "name": "Aggregate Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        384
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.2.12:11434/api/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "d9389a51-3f42-45b5-9b9c-14e742f0df2a",
      "name": "Ollama 12 Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.2.99:11434/api/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "d1f8ca8b-2a69-4b76-bfad-206ce41daa32",
      "name": "Ollama 99 Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst statusCandidates = [\n  source.statusCode,\n  source.status,\n  source.code,\n  source?.error?.statusCode,\n  source?.error?.code\n];\nconst statusCode = statusCandidates\n  .map((v) => Number(v))\n  .find((v) => Number.isFinite(v)) ?? 0;\nconst responseTime = source.responseTime ?? source.elapsedTime ?? source.duration ?? source.time ?? 0;\nconst ok = source && !source.error && (Array.isArray(source.models) || typeof source.models === 'object');\n\nreturn [{\n  json: {\n    component: 'ollama-main',\n    value: ok ? 1 : 0,\n    responseTime,\n    metadata: {\n      statusCode,\n      endpoint: '/api/tags',\n      host: '192.168.2.99',\n      checkedAt: new Date().toISOString()\n    },\n    tags: ['health-check', 'automated']\n  }\n}];"
      },
      "id": "6b3beceb-b6c2-4d31-8268-49a80651d6d8",
      "name": "Transform to Metrics: Ollama 99",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3080/api/metrics/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "2a42f6f2-84d0-4083-a236-b394b007d9d0",
      "name": "Record Metrics: Ollama 99",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.2.33:3080/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "c36f4781-5577-48f7-98c5-bd31065870e7",
      "name": "AgentX Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst statusCandidates = [\n  source.statusCode,\n  source.status,\n  source.code,\n  source?.error?.statusCode,\n  source?.error?.code\n];\nconst statusCode = statusCandidates\n  .map((v) => Number(v))\n  .find((v) => Number.isFinite(v)) ?? 0;\nconst responseTime = source.responseTime ?? source.elapsedTime ?? source.duration ?? source.time ?? 0;\nconst ok = source && !source.error && (source.status === 'ok' || source.status === 'success' || source.ok === true);\n\nreturn [{\n  json: {\n    component: 'agentx',\n    value: ok ? 1 : 0,\n    responseTime,\n    metadata: {\n      statusCode,\n      endpoint: '/health',\n      checkedAt: new Date().toISOString()\n    },\n    tags: ['health-check', 'automated']\n  }\n}];"
      },
      "id": "8979c2f2-058c-438e-8b82-3ef614472b0c",
      "name": "Transform to Metrics: AgentX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3080/api/metrics/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "f0355b72-0f5e-4ac4-8a76-9649392c25ac",
      "name": "Record Metrics: AgentX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst statusCandidates = [\n  source.statusCode,\n  source.status,\n  source.code,\n  source?.error?.statusCode,\n  source?.error?.code\n];\nconst statusCode = statusCandidates\n  .map((v) => Number(v))\n  .find((v) => Number.isFinite(v)) ?? 0;\nconst responseTime = source.responseTime ?? source.elapsedTime ?? source.duration ?? source.time ?? 0;\nconst ok = source && !source.error && (Array.isArray(source.models) || typeof source.models === 'object');\n\nreturn [{\n  json: {\n    component: 'ollama-main',\n    value: ok ? 1 : 0,\n    responseTime,\n    metadata: {\n      statusCode,\n      endpoint: '/api/tags',\n      host: '192.168.2.12',\n      checkedAt: new Date().toISOString()\n    },\n    tags: ['health-check', 'automated']\n  }\n}];"
      },
      "id": "ff4fd1b9-964c-4231-92dc-ef34abcf185a",
      "name": "Transform to Metrics: Ollama 12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3080/api/metrics/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "cb5ccbcd-44ac-4ed1-ab6a-705a70a5b37d",
      "name": "Record Metrics: Ollama 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://192.168.2.33:3003/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6ad4c401-9074-4de3-9f1d-b7add54c5d46",
      "name": "DataAPI Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst statusCandidates = [\n  source.statusCode,\n  source.status,\n  source.code,\n  source?.error?.statusCode,\n  source?.error?.code\n];\nconst statusCode = statusCandidates\n  .map((v) => Number(v))\n  .find((v) => Number.isFinite(v)) ?? 0;\nconst responseTime = source.responseTime ?? source.elapsedTime ?? source.duration ?? source.time ?? 0;\nconst ok = source && !source.error && (source.status === 'ok' || source.status === 'success' || source.ok === true);\n\nreturn [{\n  json: {\n    component: 'dataapi',\n    value: ok ? 1 : 0,\n    responseTime,\n    metadata: {\n      statusCode,\n      endpoint: '/health',\n      checkedAt: new Date().toISOString()\n    },\n    tags: ['health-check', 'automated']\n  }\n}];"
      },
      "id": "6dafc681-f004-4cc2-9a44-ecf1cf994db9",
      "name": "Transform to Metrics: DataAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3080/api/metrics/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "468c0b61-d3fa-40aa-840d-2bba9d4b0280",
      "name": "Record Metrics: DataAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "8d378f4a-7197-4b64-a6b8-42de4e5169c1",
      "name": "Schedule (Every 5 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sbqc-n1-1-health-check",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4c17d99a-9a9f-4f57-81e3-7abb480b2735",
      "name": "Webhook (Manual)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        368
      ],
      "webhookId": "sbqc-n1-1-health-check"
    },
    {
      "parameters": {},
      "id": "ff829019-8d34-447e-82fe-c152208d0c49",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        16,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function isHttpOk(obj) {\n  if (!obj || typeof obj !== 'object') return false;\n  if (obj.error) return false;\n  return true;\n}\n\nfunction safeGet(nodeName) {\n  try {\n    const items = $items(nodeName);\n    return items && items[0] ? items[0].json : null;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction extractStatusCode(data) {\n  if (typeof data?.statusCode === 'number') return data.statusCode;\n  if (typeof data?.status === 'number') return data.status;\n  if (typeof data?.code === 'number') return data.code;\n  if (data?.error) {\n    if (typeof data.error.statusCode === 'number') return data.error.statusCode;\n    if (typeof data.error.code === 'number') return data.error.code;\n  }\n  return null;\n}\n\nfunction extractResponseTime(data) {\n  const rt = data?.timings?.response ?? data?.elapsedTime ?? data?.responseTime;\n  return typeof rt === 'number' ? rt : null;\n}\n\nfunction isApiOk(data) {\n  return isHttpOk(data) && (data?.status === 'ok' || data?.status === 'success' || data?.ok === true);\n}\n\nfunction isOllamaOk(data) {\n  return isHttpOk(data) && (Array.isArray(data?.models) || typeof data?.models === 'object');\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst previous = staticData.lastStates || {};\nconst timestamp = new Date().toISOString();\nconst agentxUrl = $json.agentx_url || 'http://localhost:3080';\n\nconst components = [\n  { key: 'dataapi', node: 'DataAPI Health', component: 'dataapi', okCheck: isApiOk },\n  { key: 'agentx', node: 'AgentX Health', component: 'agentx', okCheck: isApiOk },\n  { key: 'ollama99', node: 'Ollama 99 Tags', component: 'ollama_99', okCheck: isOllamaOk },\n  { key: 'ollama12', node: 'Ollama 12 Tags', component: 'ollama_12', okCheck: isOllamaOk }\n];\n\nconst results = [];\nconst updatedStates = {};\n\nfor (const entry of components) {\n  const nodeData = safeGet(entry.node);\n  const statusCode = extractStatusCode(nodeData);\n  const responseTime = extractResponseTime(nodeData);\n  const isOk = entry.okCheck(nodeData);\n  const slow = responseTime !== null && responseTime > 2000;\n  const value = (!isOk || slow) ? 1 : 0;\n  const previousValue = previous[entry.key]?.value;\n  updatedStates[entry.key] = { value, statusCode, responseTime };\n\n  const changed = previousValue === undefined ? true : previousValue !== value;\n  if (changed) {\n    results.push({\n      json: {\n        component: entry.component,\n        metric: 'health_status',\n        value,\n        metadata: {\n          responseTime,\n          statusCode,\n          timestamp\n        },\n        agentx_url: agentxUrl\n      }\n    });\n  }\n}\n\nstaticData.lastStates = updatedStates;\n\nreturn results;"
      },
      "id": "1f9d87c4-ecbb-4bf0-9c89-13d5fd77922d",
      "name": "Prepare Alert Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json[\"agentx_url\"]}}/api/alerts/evaluate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"component\": $json.component, \"metric\": $json.metric, \"value\": $json.value, \"metadata\": $json.metadata } }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fd54b668-16ff-42a5-9e04-d1b8bda1991f",
      "name": "Evaluate Alert Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        528
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const payload = item.json?.body ?? item.json;\n  const statusCode = payload?.statusCode ?? item.json?.statusCode ?? item.json?.error?.statusCode;\n  if (item.json?.error || (typeof statusCode === 'number' && statusCode >= 400)) {\n    console.error('Alert evaluation request failed', item.json);\n  }\n}\n\nreturn items;"
      },
      "id": "91e85460-1f26-41e0-b9ba-8a1eb4c09cc9",
      "name": "Log Alert Eval Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        528
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Degraded": {
      "main": [
        [
          {
            "node": "Log to DataAPI Sink",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Healthy (No-op)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Status": {
      "main": [
        [
          {
            "node": "Log Heartbeat to DataAPI Sink",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Degraded",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Alert Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama 12 Tags": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Transform to Metrics: Ollama 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Metrics: Ollama 12": {
      "main": [
        [
          {
            "node": "Record Metrics: Ollama 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama 99 Tags": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Transform to Metrics: Ollama 99",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Metrics: Ollama 99": {
      "main": [
        [
          {
            "node": "Record Metrics: Ollama 99",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgentX Health": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Transform to Metrics: AgentX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Metrics: AgentX": {
      "main": [
        [
          {
            "node": "Record Metrics: AgentX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataAPI Health": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transform to Metrics: DataAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Metrics: DataAPI": {
      "main": [
        [
          {
            "node": "Record Metrics: DataAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (Every 5 min)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Manual)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "DataAPI Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "AgentX Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama 99 Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama 12 Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert Evaluation": {
      "main": [
        [
          {
            "node": "Evaluate Alert Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Alert Rules": {
      "main": [
        [
          {
            "node": "Log Alert Eval Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42652ee4-1e6c-4062-9e45-60087b295eeb",
  "meta": {
    "instanceId": "ca580fc430adef1acb1ce2edcaa87003dbe27624cb6bdeb1646bc119793c0b29"
  },
  "id": "U0HDB8HLfxx2a7eQ",
  "tags": []
}
