AgentC/N2.2.json
{
  "name": "SBQC - N2.2 NAS Full/Other Scan (Weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      },
      "id": "CronWeekly",
      "name": "Schedule (Weekly Sun 3AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, -100]
    },
    {
      "parameters": {
        "path": "sbqc-n2-2-nas-full-scan",
        "options": {}
      },
      "id": "WebhookTrigger",
      "name": "Webhook (Manual)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 100],
      "webhookId": "sbqc-n2-2-nas-full-scan"
    },
    {
      "parameters": {},
      "id": "MergeTriggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-350, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.33:3003/api/v1/storage/scan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"roots\": [\"/mnt/media\", \"/mnt/datalake\"],\n  \"exclude_extensions\": [\"mp4\",\"mkv\",\"avi\",\"mov\",\"mp3\",\"flac\",\"wav\",\"jpg\",\"jpeg\",\"png\",\"gif\",\"webp\",\"pdf\",\"txt\",\"md\"],\n  \"batch_size\": 1000,\n  \"compute_hashes\": true,\n  \"hash_max_size\": 104857600\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "TriggerScan",
      "name": "Trigger DataAPI Scanner (Inverse)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-150, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      },
      "notesInFlow": true,
      "notes": "Scans everything EXCEPT standard media files to find 'other' content."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.33:3003/integrations/events/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=JSON.stringify({\n  \"workflow_id\": \"SBQC-N2.2-nas-full-scan\",\n  \"event_type\": \"scan_triggered\",\n  \"data\": {\n    \"scan_id\": $json.data?.scan_id || $json.scan_id,\n    \"roots\": $json.data?.roots || [],\n    \"exclude_extensions\": $json.data?.exclude_extensions || [],\n    \"triggered_at\": new Date().toISOString()\n  }\n})",
        "options": {
          "timeout": 10000
        }
      },
      "id": "LogEvent",
      "name": "Log scan_triggered event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 0],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Schedule (Weekly Sun 3AM)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Manual)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Trigger DataAPI Scanner (Inverse)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger DataAPI Scanner (Inverse)": {
      "main": [
        [
          {
            "node": "Log scan_triggered event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SBQC",
      "id": "sbqc"
    },
    {
      "name": "Priority-2",
      "id": "p2"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
