AgentC/N3.2.json
{
  "name": "SBQC - N3.2 External AI Trigger Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sbqc-ai-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookTrigger",
      "name": "Webhook (/ai-query)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "webhookId": "sbqc-n32-ai-gateway"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Validate required fields\nif (!input.body || !input.body.message) {\n  return [{\n    json: {\n      error: true,\n      status: 400,\n      message: 'Missing required field: message'\n    }\n  }];\n}\n\nconst request = {\n  message: input.body.message,\n  model: input.body.model || 'qwen2.5:7b-instruct-q4_0',\n  useRag: input.body.useRag !== false,\n  persona: input.body.persona || null,\n  conversationId: input.body.conversationId || null,\n  autoRoute: input.body.autoRoute !== false,\n  taskType: input.body.taskType || null,\n  metadata: {\n    source: 'n8n-gateway',\n    triggeredAt: new Date().toISOString(),\n    clientIp: input.headers?.['x-forwarded-for'] || 'unknown'\n  },\n  error: false\n};\n\nreturn [{ json: request }];"
      },
      "id": "ValidateRequest",
      "name": "Validate & Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -150,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "CheckError",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.33:3080/api/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $json.message, model: $json.model, useRag: $json.useRag, autoRoute: $json.autoRoute, persona: $json.persona, conversationId: $json.conversationId, taskType: $json.taskType } }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "CallAgentX",
      "name": "Call AgentX Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        350,
        -50
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Extract data from AgentX response\nconst data = response.body?.data || response.data || response.body || response;\n\n// Format success response\nconst result = {\n  success: true,\n  response: data.response || 'No response',\n  model: data.model || response.body?.model || 'unknown',\n  conversationId: data.conversationId || null,\n  ragUsed: data.ragUsed || false,\n  tokens: data.stats?.usage || data.tokens || null,\n  latency: data.stats?.performance?.totalDuration || data.latency || null,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
      },
      "id": "FormatSuccess",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -50
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn [{\n  json: {\n    success: false,\n    error: error.message || 'Invalid request',\n    status: error.status || 400,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "FormatError",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        150
      ]
    },
    {
      "parameters": {},
      "id": "MergeResponses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        850,
        50
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "RespondToWebhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        50
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.33:3003/integrations/events/n8n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  workflow_id: \"N3.2\",\n  event_type: \"ai_gateway_request\",\n  data: {\n    success: $json.success,\n    model: $json.model || 'unknown',\n    ragUsed: $json.ragUsed || false,\n    timestamp: $json.timestamp\n  }\n}}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "LogRequest",
      "name": "Log to DataAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        50
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIrrA2wpOppzVodi",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Webhook (/ai-query)": {
      "main": [
        [
          {
            "node": "Validate & Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare Request": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Call AgentX Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AgentX Chat": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Log to DataAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "SBQC",
      "id": "sbqc"
    },
    {
      "name": "Priority-3",
      "id": "p3"
    },
    {
      "name": "AI-Gateway",
      "id": "ai"
    }
  ]
}
