AgentC/N4.4.json
{
  "name": "SBQC - N4.4 Self-Healing Orchestrator",
  "nodes": [
    {
      "parameters": {
        "path": "sbqc-n4-4-self-healing-trigger",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "ruleName",
              "value": "={{ $json.body.ruleName }}",
              "type": "string"
            },
            {
              "name": "component",
              "value": "={{ $json.body.component }}",
              "type": "string"
            },
            {
              "name": "action",
              "value": "={{ $json.body.remediationAction }}",
              "type": "string"
            },
            {
              "name": "requiresApproval",
              "value": "={{ $json.body.requiresApproval }}",
              "type": "boolean"
            },
            {
              "name": "detectedIssue",
              "value": "={{ $json.body.detectedIssue }}",
              "type": "object"
            },
            {
              "name": "startTime",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-data",
      "name": "Extract & Validate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.requiresApproval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-approval",
      "name": "Approval Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "authentication": "none",
        "body": {
          "text": "Approval required for self-healing action: {{$json.action}} on {{$json.component}}"
        }
      },
      "id": "request-approval",
      "name": "Request Approval (Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "switch_to_backup_host",
              "output": 0
            },
            {
              "value": "rollback_to_previous_version",
              "output": 1
            },
            {
              "value": "pm2_restart_agentx",
              "output": 2
            },
            {
              "value": "enable_rate_limiting",
              "output": 3
            },
            {
              "value": "send_alert",
              "output": 4
            }
          ]
        },
        "dataType": "string",
        "value1": "={{ $json.action }}"
      },
      "id": "route-action",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3080/api/models/failover",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialId": "agentx-api-key",
        "body": {
          "component": "={{ $json.component }}"
        }
      },
      "id": "action-failover",
      "name": "Model Failover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3080/api/prompts/rollback",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialId": "agentx-api-key",
        "body": {
          "component": "={{ $json.component }}"
        }
      },
      "id": "action-rollback",
      "name": "Prompt Rollback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        450
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3080/api/system/restart",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialId": "agentx-api-key",
        "body": {
          "service": "agentx"
        }
      },
      "id": "action-restart",
      "name": "Service Restart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        600
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3080/api/system/throttle",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialId": "agentx-api-key",
        "body": {
          "enabled": true
        }
      },
      "id": "action-throttle",
      "name": "Throttle Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        750
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3080/api/alerts",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialId": "agentx-api-key",
        "body": {
          "title": "Self-Healing Alert",
          "message": "Rule triggered: {{$json.ruleName}}",
          "severity": "warning",
          "source": "self-healing-workflow",
          "context": {
            "component": "={{$json.component}}"
          }
        }
      },
      "id": "action-alert",
      "name": "Alert Only",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        900
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        500
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3080/api/self-healing/executions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialId": "agentx-api-key",
        "body": {
          "ruleName": "={{ $json.ruleName }}",
          "action": "={{ $json.action }}",
          "status": "success",
          "startTime": "={{ $json.startTime }}",
          "endTime": "={{ $now }}"
        }
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', result: $json }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1700,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate": {
      "main": [
        [
          {
            "node": "Approval Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Required?": {
      "main": [
        [
          {
            "node": "Request Approval (Slack)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Model Failover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt Rollback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service Restart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Throttle Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Failover": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Rollback": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Restart": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle Requests": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Only": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
